/*=============== ABOUT ===============*/
.about__container {
    row-gap: 6rem;
  }
  
  .about__group {
    position: relative;
  }
  
  .aobut__img {
    width: 310px;
    border-radius: 0.5rem;
  }
  
  .aobut__card {
    width: 180px;
    position: absolute;
    right: 0;
    bottom: -2.5rem;
    background-color: hsla(0, 0%, 100%, 0.1);
    backdrop-filter: blur(16px);
    padding: 1rem 0.75rem;
    text-align: center;
    border-radius: 1.25rem;
  }
  
  .about__card-title {
    font-size: var(--h3-font-size);
    margin-bottom: 0.5rem;
  }
  
  .about__card-description {
    font-size: var(--smaller-font-size);
  }
  
  .about__title {
    text-align: initial;
    margin-bottom: 2rem;
  }
  
  .about__description {
    margin-bottom: 2rem;
  }

  .about__description b {
    color: white;
  }

  .about__description br {
    margin-bottom: 2px;
  }