/*=============== HOME ===============*/
.home {
    position: relative;
    overflow: hidden;
  }
  
  .home__container {
    position: relative;
    padding-top: 4rem;
    row-gap: 3rem;
  }
  
  .home__data {
    text-align: center;
  }
  
  .home__title {
    font-size: var(--h1-font-size);
    margin-bottom: 1rem;
  }
  
  .home__subtitle {
    font-size: var(--h3-font-size);
    margin-bottom: 0.25rem;
  }
  
  .home__elec {
    font-size: var(--small-font-size);
    font-weight: 400;
    color: var(--text-color);
    display: inline-flex;
    align-items: center;
    column-gap: 0.2rem;
  }
  
  .home__elec i {
    color: var(--first-color);
  }
  
  .home__img {
    width: 280px;
    height: 280px;
    justify-self: center;
  }
  
  .home__car {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 4rem;
    margin-bottom: 2rem;
  }
  
  .home__car-name {
    /* font-size: 0.625rem; */
    font-size: 1rem;
    font-weight: 400;
    color: var(--text-color-light);
  }
  
  .home__car-data {
    text-align: center;
  }
  
  .home__car-number {
    font-size: var(--h2-font-size);
    font-weight: var(--font-medium);
    margin-bottom: 0.25rem;
  }
  
  .home__car-icon {
    background-color: var(--container-color);
    border-radius: 50%;
    padding: 0.376rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 0.875rem;
    margin-bottom: 0.75rem;
  }
  
  .home__button {
    position: relative;
    border: 2px solid hsl(235, 92%, 54%);
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: center;
    font-size: var(--small-font-size);
    color: black;
    font-weight: var(--font-medium);
  }
  
  .home__button::before {
    content: "";
    border: 2px solid hsl(150, 11%, 96%);
    width: 90px;
    height: 90px;
    position: absolute;
    border-radius: 50%;
    box-shadow: 0 0 12px hsl(235, 92%, 54%);
    transition: 0.3s;
    animation: button 3s infinite;
  }
  
  .home .shape__big,
  .home .shape__small {
    position: absolute;
  }
  
  .home .shape__big {
    left: -9rem;
    top: -4rem;
  }
  
  .home .shape__small {
    right: -10rem;
    bottom: 3rem;
  }
  
  /* Button animate */
  @keyframes button {
    0% {
      box-shadow: 0 0 12px hsl(235, 92%, 54%);
    }
    50% {
      box-shadow: 0 0 24px hsl(235, 92%, 54%);
    }
  }

  #show-login {
    border: none;
    outline: none;
    cursor: pointer;
  }

  .popup {
    position: absolute;
    top: -150%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%) scale(1.25);
    width: 380px;
    padding: 20px 30px;
    background-color: #fff;
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    /* transition: top 0ms ease-in-out 200ms,
                opacity 200ms ease-in-out 0ms,
                transform 200ms ease-in-out 0ms; */
  }

  .active-login {
    top: 50%;
    opacity: 1;
    /* transform: translate(-50%, -50%) scale(1); */
    /* transition: top 0ms ease-in-out 0ms,
                opacity 200ms ease-in-out 0ms,
                transform 200ms ease-in-out 0ms; */
  }

  .popup .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 15px;
    height: 15px;
    background: #888;
    color: #eee;
    text-align: center;
    line-height: 15px;
    border-radius: 15px;
    cursor: pointer;
  }
  
  .popup .form h2 {
    text-align: center;
    color: #222;
    margin: 10px 0px 20px;
    font-size: 25px;
  }
  .popup .form .form-element {
    margin: 15px 0px;
  }

  .popup .form .form-element label {
    font-size: 14px;
    color: #222;
  }

  .popup .form .form-element input[type="text"],
  .popup .form .form-element input[type="password"] {
    margin-top: 5px;
    display: block;
    width: 100%;
    padding: 10px;
    outline: none;
    border: 1px solid #aaa;
    border-radius: 5px;
  }

  .popup .form .form-element input[type="checkbox"]{
    margin-right: 5px;
  }

  .popup .form .form-element button {
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    font-size: 16px;
    background: #222;
    color: #f5f5f5;
    border-radius: 10px;
    cursor: pointer;
  }

  .popup .form .form-element a {
    display: block;
    text-align: right;
    font-size: 15px;
    color: #1a79ca;
    text-decoration: none;
    font-weight: 600;

  }